@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  min-height: 200vh;

}
#landing{
  max-height: fit-content;
  min-height: 85vh;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #242424;
  
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b81435;
}

.black_btn {
  @apply rounded-lg font-extrabold py-1.5 px-[2px] sm:px-5 active:scale-[0.9] text-grayish transition-all hover:bg-grayish hover:text-orange- text-center text-sm  flex items-center justify-center;
}

.outline_btn {
  @apply rounded-full   font-extrabold bg-transparent py-1.5 px-2 sm:px-5 active:scale-[0.9]  text-black- transition-all hover:bg-black- hover:text-[#FFA500] text-center text-sm  flex items-center justify-center;
}
.dropdown {
  @apply absolute shadow-xl -right-2 top-[50px]  p-2 rounded-lg bg-white min-w-[100px] flex flex-col justify-center gap-2 items-center;
}
.dropdown1 {
  @apply absolute right-0 shadow-xl top-full mt-3 w-full p-5 rounded-lg bg-white min-w-[210px] flex flex-col gap-2 justify-end items-end;
}
.dropdown2 {
  @apply absolute right-0 shadow-xl top-full mt-3 w-full p-5 rounded-lg bg-white min-w-[150px] flex flex-col justify-end items-end;
}

.dropdown_link {
  @apply text-sm text-gray-700 hover:text-[#FFA500] font-extrabold;
}

.orange_gradient {
  @apply bg-gradient-to-tr from-[#ce8908b2]  via-[#e6e6e7] to-[#ce8908b2];
}

.footer {
  @apply flex flex-col mt-5 border-t border-gray-100;
}

.footer__links-container {
  @apply flex max-md:flex-col flex-wrap justify-between gap-5 sm:px-16 px-6 py-10;
}

.footer__rights {
  @apply flex flex-col justify-start items-start gap-6;
}

.footer__links {
  @apply flex-1 w-full flex md:justify-end flex-wrap max-md:mt-10 gap-20;
}

.footer__copyrights {
  @apply flex justify-between items-center flex-wrap mt-10 border-t border-gray-100 sm:px-16 px-6 py-10;
}

.footer__copyrights-link {
  @apply flex-1 flex sm:justify-end justify-center max-sm:mt-4 gap-10;
}

.login-dropdown{
  margin-top: 60px;
  transition: all 300ms ease-in-out;
}

/* Change button text color on hover */
.button-hover:hover{
  /* #f50057 */
  color: #D18700  !important;
}

/* text sizes */






